@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    background-color: #B2C5B2;
}

/* Header and Logo */

header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C5148;
    position: sticky;
    top: 0;
    border-bottom: 3px solid #D5DDDF;
    z-index: 10;
}

header a {
    text-decoration: none;
}


#logo {
    font-size: 280%;
    font-weight: 900;
    font-style: italic;
    color: #D5DDDF;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: solid 3px #D5DDDF;
    margin-left: 30px;
    line-height: 75px;
    padding: 0 10px;
}

/* Menu nav links */

#menu {
    font-size: 150%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 30px;
    list-style-type: none;
}

#menu li {
    display: inline-block;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: #D5DDDF;
    border-top: solid 3px #D5DDDF;
    border-bottom: solid 3px #D5DDDF;
    padding: 0 4px;
}

.active {
    border-right: solid 3px #D5DDDF;
    border-left: solid 3px #D5DDDF;
}

.transition {
    transition: color .5s;
    transition: background-color .5s;
}

#menu a:hover {
    color: #3C5148;
    background-color: #D5DDDF;
}

/* hero image and tag line text */

#hero-image {
    display: flex;
    height: 1000px;
    width: 60%;
    overflow: hidden;
    background: url('../images/jamie-street-zPHX8NscQ9o-unsplash.jpg') no-repeat center center;
    background-size: cover;
    float: left;
    background-position: center;
}

#headline {
    display: flex;
    font-size: 350%;
    color: #3C5148;
    height: 1000px;
    width: 40%;
    float: right;
}

#headline > h2 {
    border-top: dotted 5px #3C5148;
    border-bottom: dotted 5px #3C5148;
    text-align: center;
    margin: auto;
}

/* about us section */

#info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 1200px;
    width: 100%;
    background-color: #3C5148;
    clear: both;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 25%;
    background-color: #B2C5B2;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.card > h3 {
    font-size: 300%;
    font-weight: 300;
    text-align: center;
    border-top: solid 3px #3C5148;
    border-bottom: solid 3px #3C5148;
}

/* footer */

footer {
    height: 150px;
    width: 100%;
    background-color: #3C5148;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links > li{
    list-style-type: none;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks i {
    margin: 20px;
    font-size: 350%; 
    color: #D5DDDF;
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Upcoming events section */

#upcoming {
    height: 1200px;
    width: 100%;
    background-color: #D5DDDF;
    clear: both;
}

/* About us section */

#about {
    height: 1200px;
    width: 100%;
    background-color: #D5DDDF;
    clear: both;
}

/* Sign up page / sign up form */

#signup-image {
    height: 700px;
    width: 100%;
    background: url('../images/jamie-street-zPHX8NscQ9o-unsplash.jpg') no-repeat center center;
    background-size: cover;
}

#signup-form {
    position: absolute;
    font-size: 22px;
    margin-left: 0;
	margin-top: 50px;
    background-color: rgba(213, 221, 223, 0.7);
    left: 15%;
	width: 70%;
	padding: 20px 8px;
	

}

.text-input {
    background-color: #D5DDDF;
    color: #3C5148;
    width: 100%;
    height: 40px;
    margin: 5px 0 20px 0;
    border: 1px solid #D5DDDF;
    border-radius: 2px;
    padding: 5px;
    font-size: 18px

}
  
.text-input:hover {
    border-color: #3C5148;
    background-color: #D5DDDF
}

.submit-button {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    color: #D5DDDF;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    margin: 20px auto;
    border-radius: 3px;
    border: 2px solid #3C5148;
    padding: 10px;
    text-align: center;
    background-color: #3C5148;
}

.submit-button:hover {
    color: #3C5148;
    background-color: #D5DDDF;
}

/* Upcoming events page */

#upcoming {
    height: auto;
    overflow: hidden;
}

.meet-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5DDDF;
    padding: 10px;
}

.meet-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: #3C5148;
    padding: 10px;
}

.where {
    font-size: 350%;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    padding: 10px;
}

.meet-left > h3 {
    padding: 10px;
} 

.meet-right .where {
    color: #D5DDDF;
} 

.meet-right > h3 {
    color: #D5DDDF;
    padding: 10px;
} 

/* Media queries */

/* Larger to medium size screens <= 1200px */

@media screen and (max-width: 1200px){

    header {
        display: grid;
        justify-content: center;
        z-index: 3;
    }
    
    #logo {
        font-size: 200%;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin: 5px;
        text-align: center;
    }
    
    #menu {
        margin: 5px;
    }
    
    #menu li {
        font-size: 80%;
        margin: 5px; 
    }

    #hero-image {
        width: 50%;
    }
    
    #headline {
        font-size: 300%;
        width: 50%;
        float: right;
    }

    #photos {
        column-count: 3;
    }
}

/* Medium size screens <= 950px */

@media screen and (max-width: 950px){
    
    #photos {
        column-count: 2;
    }

    #menu li {
        font-size: 70%;
        margin: 5px; 
    }
    
    #hero-image {
        position: relative;
        height: 1000px;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
    
    #headline {
        position: absolute;
        height: 25%;
        font-size: 200%;
        color: #3c5148;
        width: 100%;
        z-index: 2;
    }
    
    #headline > h2 {
        border-top: none;
        border-bottom: none;
        text-align: center;
        margin-top: 50px;
        background-color:rgba(213, 221, 223, 0.6);
        outline: 2px solid black;
    }
}

/* small size screens <= 480px */

@media screen and (max-width: 480px){
    
    #logo {
        font-size: 175%;
        align-items: center;
        justify-content: center;
        margin: 5px;
        text-align: center;
    }

    #menu li a {
        font-size: 70%;
        margin: 2px;
        width: 100%; 
        display: inline-block;
        text-align: center;
    }

    #photos {
        column-count: 1;
    }
}