@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Page Resets */

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    background-color: #B2C5B2;
}

/* Header */

header {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C5148;
    position: sticky;
    top: 0;
    border-bottom: 3px solid #D5DDDF;
    z-index: 10;
}

header a {
    text-decoration: none;
}

/* logo */

#logo {
    font-size: 280%;
    font-weight: 900;
    font-style: italic;
    color: #D5DDDF;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: solid 3px #D5DDDF;
    margin-left: 30px;
    line-height: 75px;
    padding: 0 10px;
}

/* Nav links */

#menu {
    font-size: 150%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 30px;
    list-style-type: none;
}

#menu li {
    display: inline-block;
    margin-right: 10px;
}

.short-text { 
    display: none; 
}

#menu a {
    text-decoration: none;
    color: #D5DDDF;
    border-top: solid 3px #D5DDDF;
    border-bottom: solid 3px #D5DDDF;
    padding: 0 4px;
}

.active {
    border-right: solid 3px #D5DDDF;
    border-left: solid 3px #D5DDDF;
}

.transition {
    transition: color .5s;
    transition: background-color .5s;
}

#menu a:hover {
    color: #3C5148;
    background-color: #D5DDDF;
}

/* hero image */

#hero-image {
    display: flex;
    height: 1000px;
    width: 60%;
    overflow: hidden;
    background: url('../images/jamie-street-zPHX8NscQ9o-unsplash.jpg') no-repeat center center;
    background-size: cover;
    float: left;
    background-position: center;
}

/* Headline */

#headline {
    display: flex;
    font-size: 350%;
    color: #3C5148;
    height: 1000px;
    width: 40%;
    float: right;
}

#headline > h2 {
    border-top: dotted 5px #3C5148;
    border-bottom: dotted 5px #3C5148;
    text-align: center;
    margin: auto;
}

/* About us */

#info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #3C5148;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#info .column {
    justify-content: space-between;
    align-items: center;
    background-color: #B2C5B2;
    margin: 20px;
    padding: 20px 0;
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
}

.column div {
    align-self: center;
    text-align: center;
}

#info .column hr {
    border-top: 3px solid #3C5148;
    height: 30px;
    width: 100%;
    display: block;
    margin: 10px 0;
}

#info .column h3 {
font-size: 42px;
font-weight: 300;
text-align: center;
}

/* Footer */

footer {
    height: 150px;
    width: 100%;
    background-color: #3C5148;
    border-top: 3px solid #D5DDDF;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
}

/* Social links */

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links > li {
    list-style-type: none;
}

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks i {
    margin: 20px;
    font-size: 350%; 
    color: #D5DDDF;
}

a.social-networks:hover i {
    transform: rotate(-15deg) scale(1.3);
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Upcoming events */

#upcoming {
    height: auto;
    width: 100%;
    overflow: hidden;
}

#upcoming section {
    padding: 20px 0;
}

#upcoming section:nth-child(even) {
    background: #3C5148;
  }

.column {
    justify-content: center;
}

.where {
    font-size: 46px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 63px;
    padding: 20px;
}

.when {
    padding: 20px;
}

.map {
    width: 600px;
    margin: 20px;
}

/* Signup background */

#signup-image {
    height: 95vh;
    width: 100%;
    background: url('../images/jamie-street-zPHX8NscQ9o-unsplash.jpg') no-repeat center center;
    background-size: cover;
}

/* Signup form */

#signup-form {
    position: absolute;
    font-size: 22px;
    margin-left: 0;
	margin-top: 50px;
    background-color: rgba(213, 221, 223, 0.7);
    left: 15%;
	width: 70%;
	padding: 20px 8px;
}

.text-input {
    background-color: #D5DDDF;
    color: #3C5148;
    width: 100%;
    height: 40px;
    margin: 5px 0 20px 0;
    border: 1px solid #D5DDDF;
    border-radius: 2px;
    padding: 5px;
    font-size: 18px
}
  
.text-input:hover {
    border-color: #3C5148;
    background-color: #D5DDDF
}

.submit-button {
    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    color: #D5DDDF;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
    margin: 20px auto;
    border-radius: 3px;
    border: 2px solid #3C5148;
    padding: 10px;
    text-align: center;
    background-color: #3C5148;
}

.submit-button:hover {
    color: #3C5148;
    background-color: #D5DDDF;
}

/* Media queries */

/* Large devices (desktops, less than 1200px) */

@media screen and (max-width: 1200px) {

    header {
        display: grid;
        justify-content: center;
        z-index: 3;
    }

    #logo {
        font-size: 36px;
        line-height: 42px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin: 5px;
        text-align: center;
    }
    
    #menu {
        margin: 5px;
    }
    
    #menu li {
        font-size: 80%;
        margin: 5px; 
    }

    #hero-image {
        width: 50%;
    }
    
    #headline {
        font-size: 300%;
        width: 50%;
        float: right;
    }

    .map {
        width: 400px;
    }
    
    #photos {
        column-count: 3;
    }
}

/* Medium devices (tablets, less than 950px) */

@media screen and (max-width: 950px) {
    
    #menu li {
        padding-left: 4px;
    }

    .short-text { 
        display: inline-block; 
    }

    .full-text {
        display: none;
    }

    #hero-image {
        position: relative;
        height: 1000px;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
    
    #headline {
        position: absolute;
        height: 25%;
        font-size: 200%;
        color: #3c5148;
        width: 100%;
        z-index: 2;
    }
    
    #headline > h2 {
        border-top: none;
        border-bottom: none;
        text-align: center;
        margin-top: 50px;
        background-color:rgba(213, 221, 223, 0.6);
        outline: 2px solid black;
    }
    
    .row, .column {
        display: block;
    }

    #upcoming section {
        text-align: center;
    }

    #upcoming section .row {
        display: flex;
        flex-direction: column;
    }

    .map {
        width: 300px;
        margin: auto;
    }

    #photos {
        column-count: 2;
    }
    
    #signup-form {
        font-size: 18px;
        margin-top: 20px;
        padding: 10px 5px;
    }

}

/* Small devices (phones, less than 480px) */

@media screen and (max-width: 480px) {
    
    #logo {
        margin: 0px;
    }

    #menu {
        margin-left: 15px;
    }

    #menu li {
        font-size: 16px;
        padding: 0px;
    }

    .social-networks i {
        margin: 15px;
        font-size: 280%; 
        color: #D5DDDF;
    }

    .map {
        padding: 1px;
    }
    
    #photos {
        column-count: 1;
    }

    .submit-button {
        font-size: 20px;
        letter-spacing: 1px;
    }
}